.Cards {
  display: grid;
  border-radius: 3%;
  background-color: black;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  margin: 0px 120px 0px 120px;
}
