.Card {
  border: solid black 1px;
  background: rgb(113, 180, 255);
  background: linear-gradient(
    144deg,
    rgba(113, 180, 255, 1) 0%,
    rgba(0, 67, 131, 1) 83%
  );
  margin: 5px;
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  border-radius: 3%;
  flex-wrap: wrap;
  font-weight: bold;
  /* text-decoration: underline;   may make link*/
}
button {
  transition: all 200ms;
}

.Button:hover {
  background: black;
  color: white;
}
.Card__img {
  align-self: center;
  max-width: 100px;
  max-height: 100px;
}
#bat:hover {
  color: crimson;
}
