.App {
  text-align: center;
  height: 100%;
}
.daBut {
  border: none;
  color: none;
  opacity: 1;
  width: 5%;
}
.daBut:hover {
  border: 1px solid #ffcc03;
  background: black;
  color: #ffcc03;
  cursor: pointer;
}
input {
  margin: 5px;
  /* border: 1px solid black; */
  /* background: #ffcc03; */
  background: none;
  border: none;
  color: black;
}

body {
  background-image: url("./components/StatPics/Pokeball.jpeg");
  background-size: cover;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.titleImg {
  animation: fadeIn 15s;
}
.spacer {
  height: 10px;
}
